---
layout: default
title: Contact
comment: true
---

<div class="article">
    <div class="about">
        <div class="about-text">
            <p>{{ site.author.simpleIntro }}</p>
            {{ site.author.detailIntro }}
        </div>
        <div class="about-image">
            <img src="{{ site.author.imageLink }}" />
        </div>
    </div>
    <div class="fn-clear"></div>
    <div class="social">
        {% for link in site.follow %}
        <a href="{{ link.url }}" target="_blank"><i class="{{ link.class }}"></i></a>
        {% endfor %}
    </div>
    <div class="fn-clear"></div>
	<hr>
    <div class="contact">
		<p>Email Address:</p>
		<a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a>
		<br>
		<p>QQ:</p>
		<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1134583228&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:1134583228:41" alt="点击这里给我发消息" title="点击这里给我发消息"/></a>
    </div>
    <div class="comment">
        {% if site.disqus.config %}
        <div id="disqus_thread"></div>
        {% else %}
            {% if site.duoshuo.config %}
            <div class="ds-thread"></div>
            {% endif %}
        {% endif %}
    </div>
</div>